<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin-List</title>

    <%- include('../partials/cdnlink') %>
    
    <style>
      .search {
        height: 32px;
      }
    </style>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar') %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('../partials/sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="container-fluid">
          <div class="content-header">
            <div class="row">
              <div class="col-sm-6">
                <h1 class="m-0">Admin List</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <button
                      class="btn btn-outline-success"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </li>
                </ol>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.content-header -->
          <div class="row px-3">
            <div class="content-header">
              <div class="row">
                <div class="col-sm-12">
                  <div class="breadcrumb float-sm-right">
                    <input
                      type="text"
                      name="search"
                      class="form-control search"
                      placeholder="Search"
                      id="search-input"
                      onkeyup="performSearch()"
                    />
                  </div>
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.content-header -->
            <table class="table" id="data-table">
              <thead>
                <tr>
                  <th scope="col" onclick="sortTable(0)">Name</th>
                  <th scope="col" onclick="sortTable(1)">Email</th>
                  <th scope="col">Mobile No</th>
                  <th scope="col">Gender</th>
                  <th scope="col" onclick="sortTable(2)">City</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody id="table-body">
                <% if (getAdmin.length > 0) { %> <%
                getAdmin.forEach(function(data) { %>
                <tr>
                  <td><%= data.name %></td>
                  <td><%= data.email %></td>
                  <td><%= data.mobile %></td>
                  <td><%= data.gender %></td>
                  <td><%= data.city %></td>
                  <td>
                    <a href="/update/<%= data._id %>"
                      ><i class="fa-solid fa-pen-to-square icon edit"></i
                    ></a>
                    <a href="/delete/<%= data._id %>"
                      ><i class="fa-solid fa-trash icon delete"></i
                    ></a>
                  </td>
                </tr>
                <% }) %> <% } else { %>
                <tr>
                  <td colspan="5" class="text-center">No Data Found</td>
                </tr>
                <% } %>
              </tbody>
            </table>

            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page=<%= currentPage - 1 %>&limit=4"
                    >&laquo;</a
                  >
                </li>
                <% } else { %>
                <li class="page-item disabled">
                  <a class="page-link" href="#">&laquo;</a>
                </li>
                <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>&limit=4"
                    ><%= i %></a
                  >
                </li>
                <% } %> <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page=<%= currentPage + 1 %>&limit=4"
                    >&raquo;</a
                  >
                </li>
                <% } else { %>
                <li class="page-item disabled">
                  <a class="page-link" href="#">&raquo;</a>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
        <!-- /.content -->
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form
                  method="POST"
                  action="/signup"
                  id="registrationForm"
                  enctype="application/x-www-form-urlencoded"
                >
                  <!-- Row for Name and Email fields -->
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="exampleInputName" class="form-label"
                        >Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputName"
                        name="name"
                        placeholder="Enter your name"
                      />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Email</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        name="email"
                        placeholder="Enter your email"
                      />
                    </div>
                  </div>

                  <!-- Row for Password and Confirm Password fields -->
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="exampleInputPassword1" class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        name="password"
                        placeholder="Enter your password"
                      />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="exampleInputPassword2" class="form-label"
                        >Confirm Password</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword2"
                        name="password"
                        placeholder="Confirm your password"
                      />
                    </div>
                  </div>

                  <!-- Row for Mobile No -->
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="exampleInputMobile" class="form-label"
                        >Mobile No</label
                      >
                      <input
                        type="number"
                        name="mobile"
                        class="form-control"
                        id="exampleInputMobile"
                        placeholder="Enter your Mobile Number"
                        pattern="[0-9]{10}"
                      />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Gender</label>
                      <div class="d-flex align-items-center">
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="gender"
                            value="Male"
                            id="maleRadio"
                          />
                          <label class="form-check-label" for="maleRadio"
                            >Male</label
                          >
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="gender"
                            value="Female"
                            id="femaleRadio"
                          />
                          <label class="form-check-label" for="femaleRadio"
                            >Female</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="exampleInputCity" class="form-label"
                        >City</label
                      >
                      <select class="form-select ml-3" name="city" required>
                        <option selected disabled>
                          --- Select your City ---
                        </option>
                        <% cities.forEach(city => { %>
                        <option value="<%= city.city %>">
                          <%= city.city %>
                        </option>
                        <% }); %>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                class="btn btn-primary"
                onclick="submitForm()"
                type="button"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- /.content-wrapper -->
      <!-- Footer -->
      <%- include('../partials/footer') %>
    </div>
    <!-- ./wrapper -->

    <!-- <script>
      async function submitForm() {
        
        const form = document.getElementById("registrationForm");
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        try {
          const response = await fetch("/signup", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });

          if (response.ok) {
            alert("Registration Successful");
            // Hide the modal
            const modal = bootstrap.Modal.getInstance(
              document.getElementById("exampleModal")
            );
            modal.hide();
          } else {
            const errorText = await response.text();
            alert(`${errorText}`);
          }
        } catch (error) {
          console.error("Error submitting form:", error);
          alert("An unexpected error occurred.");
        }
      }

      document.addEventListener("DOMContentLoaded", () => {
        const modalElement = document.getElementById("exampleModal");
        modalElement.addEventListener("hidden.bs.modal", () => {
          document.getElementById("registrationForm").reset();
        });
      });
    </script> -->

    <script>
      const form = document.getElementById("registrationForm");
      const nameInput = document.getElementById("exampleInputName");
      const emailInput = document.getElementById("exampleInputEmail1");
      const passwordInput = document.getElementById("exampleInputPassword1");
      const cpasswordInput = document.getElementById("exampleInputPassword2");
      const mobileInput = document.getElementById("exampleInputMobile");
      const genderInputs = document.getElementsByName("gender");

      async function submitForm() {
        let isValid = validateForm();

        if (isValid) {
          const formData = new FormData(form);
          const data = Object.fromEntries(formData.entries());

          try {
            const response = await fetch("/signup", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            });

            if (response.ok) {
              alert("Registration Successfull");
              const modal = bootstrap.Modal.getInstance(
                document.getElementById("exampleModal")
              );
              modal.hide();
              form.reset();
            } else {
              const errorText = await response.text();
              alert(`Error: ${errorText}`);
            }
          } catch (error) {
            console.error("Error submitting form:", error);
            alert("An unexpected error occurred.");
          }
        }
      }

      function validateForm() {
        let isValid = true;

        // Name validation
        if (nameInput.value.trim() === "") {
          showError(nameInput);
          isValid = false;
        } else {
          hideError(nameInput);
        }

        // Email validation
        if (!isValidEmail(emailInput.value.trim())) {
          showError(emailInput);
          isValid = false;
        } else {
          hideError(emailInput);
        }

        // Password validation
        if (passwordInput.value.trim() === "") {
          showError(passwordInput);
          isValid = false;
        } else {
          hideError(passwordInput);
        }

        // Confirm Password validation
        if (
          passwordInput.value.trim() !== "" &&
          cpasswordInput.value.trim() !== ""
        ) {
          if (passwordInput.value !== cpasswordInput.value) {
            alert("Password and Conf  irm Password do not match");
            showError(cpasswordInput);
            isValid = false;
          } else {
            hideError(cpasswordInput);
          }
        } else if (cpasswordInput.value.trim() === "") {
          showError(cpasswordInput);
          isValid = false;
        } else {
          hideError(cpasswordInput);
        }

        // Mobile validation
        if (mobileInput.value.trim() === "") {
          showError(mobileInput);
          isValid = false;
        } else {
          hideError(mobileInput);
        }

        // Gender validation
        if (![...genderInputs].some((input) => input.checked)) {
          alert("Please select your gender");
          isValid = false;
        }

        return isValid;
      }

      function showError(input) {
        input.classList.add("is-invalid");
      }

      function hideError(input) {
        input.classList.remove("is-invalid");
      }

      function isValidEmail(email) {
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailPattern.test(email);
      }

      //   Sorting
      function sortTable(n) {
        var table,
          rows,
          switching,
          i,
          x,
          y,
          shouldSwitch,
          dir,
          switchcount = 0;
        table = document.getElementById("data-table");
        switching = true;
        dir = "asc";
        while (switching) {
          switching = false;
          rows = table.rows;

          for (i = 1; i < rows.length - 1; i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];

            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
          } else {
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }

      // Search
      function performSearch() {
        const searchInput = document.getElementById("search-input").value;

        fetch(`/admin-list?search=${encodeURIComponent(searchInput)}&limit=4`)
          .then((response) => response.text())
          .then((html) => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(html, "text/html");
            const newTableBody = doc.querySelector("#table-body").innerHTML;
            const newPagination = doc.querySelector(".pagination").innerHTML;

            // Replace table body with new data
            document.getElementById("table-body").innerHTML = newTableBody;

            // Replace pagination
            document.querySelector(".pagination").innerHTML = newPagination;
          })
          .catch((error) =>
            console.error("Error fetching search results:", error)
          );
      }
    </script>

    <style>
      .is-invalid {
        border: 2px solid red !important;
      }
    </style>

    <!-- Bootstrap JS File -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
